@font-face{
				font-family: 'baravu';
				src: url(./fonts/baravu.ttf);
}

div.container
{
	padding: 0.5em 0.5em;
	text-align: center;
}


div.container a
{
    color: red;
    text-decoration: none;
    margin: 0px 0px;
    padding: 5px 1px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-family: baravu;
    font-height: 1%;
}


/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background: white;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}


body{
			font-family: baravu;
}


.heading .a{
    width: 100%;
    color: white;
    background: url('./images/text-box-1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20%;
			
	}
.heading .a h1{
	padding-top: 2.5em;
}
.heading{
   text-align: center;
   font-size: 200%;
}

p{
        font-family: baravu;
	padding: 0.5em 0.5em;
	color: white;
  	text-align: center;
  	background-color: black;
  	font-size: 190%;
}
.aboutSite{
				background-color: black;
				color: white;
				height: 5px;
				right:10;
				text-align: centre;
}

div.background {
   background-image: url("./gifs/flag-background.mp4") 
}

#myVideo{
				width: 100%;
				left: 10;
				background-color: black;
}
h3{
  color: black;
  background-color: white;
  border: 2px solid red;
  text-align: center;
  width: 100%;
  position: center;				
}

.button{
    background-color: inherit;
    background-width: 80%;
 }
.image{
   height: 15%;
   left: 0;
   bottom: 0;
   position: fixed;
   z-index: 1;
   padding: 1em 1em;
}
.big{
  font-size: 35px;
  }
 .black{
 background-color: black;
 padding: 1em 1em;
 }
 a{
 				transform: rotate(5deg);
 				align: center;
 				font-size: 70px;
 }
 
 
.image2{
   height: 15%;
   right: 0;
   bottom: -2;
   position: fixed;
   z-index: 1;
   padding: 0.5em ;
}

.trial{
			font-size: 2em;
}
@media only screen and (max-width: 1200px) {
.black{
     background-colour: yellow;
	}
}
